html, body {
    background-color: #e0f6f2;
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif, Verdana;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

/* Navbar Styles */
.navbar {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: #ebfcff; 
    height: 80px; 
}

.logo {
    height: 84px; 
}

/* Navigation List */
ul#nav {
    list-style-type: none; 
    font-size: 22px; 
    display: flex; 
    margin: 0; 
    padding: 0; 
    align-items: center; 
}

ul#nav li {
    display: inline-block; 
}

ul#nav a {
    color: #18b5b2; 
    padding: 15px 25px; 
    display: block; 
    transition: background-color 0.3s ease; 
    line-height: 50px; 
    text-align: center; 
}

ul#nav a:hover {
    color: #f4d7c8; 
    background-color: #18b5b2; 
}

footer {
    background-color: #ebfcff;
    color: #18b5b2; 
    padding: 10px; 
    width: 100%; 
}

@media (max-width: 900px) {
    .button, .page-btn, #signup-btn, #signup {
        font-size: 12px;
    }

    ul#nav a {
        font-size: 16px;
    }

    ul#nav li {
        padding: 0;
    }
}

@media (max-width: 770px) {
    .navbar {
        flex-direction: column;  
        height: auto; 
    }

    ul#nav {
        flex-wrap: wrap; 
        justify-content: center; 
        width: 100%;
        padding: 0;
    }

    ul#nav li {
        flex: 1 0 calc(33.33% - 10px); 
        max-width: calc(33.33% - 10px);
        text-align: center; 
        box-sizing: border-box; 
    }
}
